.mediaLinks {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  transition: all ease-in-out 0.2s;
}

.icons {
  color: white;
  padding: 1.2vh;
  border-radius: 50%;
  outline: 3px solid white;
  transition: all ease-in-out 0.2s;
}

.icons:hover {
  outline: 3px solid aqua;
  color: aqua;
  cursor: pointer;
  box-shadow: 0 0 5px 5px aqua;
  transition: all ease-in-out 0.2s;
}
