.skillsTitle {
  color: aqua;
  height: 100%;
  margin-left: 8vw;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skillsIcon {
  margin-right: 20px;
}

.skillContainer {
  width: 70vw;
  gap: 3vh;
  margin-left: 9vw;
  display: flex;
  flex-wrap: wrap;
}

.subSkill {
  padding: 2vh;
  outline: 1.5px solid white;
  height: 100%;
  border-radius: 1vh;
  width: 14vw;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.075);
}

.skill {
  outline: 1px solid lightgray;
  padding: 7px;
  display: flex;
  margin: 0;
  border-radius: 0.5vh;
  text-align: center;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: white;
}

.skillIcon {
  height: fit-content;
  width: fit-content;
  margin-right: 4px;
  align-self: center;
}

.skillContent {
  margin: auto;
}
