.timelineItem {
  margin-top: 0;
  font-weight: bold;
  padding: 1.8vh;
  padding-top: 5px;
  border-radius: 1vh;
  width: 250px;
  margin-left: 9px;
  min-width: 150px;
}

.timelineTitle {
  margin: 0;
  text-wrap: nowrap;
  font-size: larger;
}

.timelineCompanyTitle {
  margin: 10px;
  width: 400px;
  outline: 1.5px solid white;
  border-radius: 1vh;
  padding: 15px;
  margin-left: 11vw;
  /* font-size: larger; */
  font-weight: bolder;
  /* background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px); */
  border: 1px solid rgba(255, 255, 255, 0.075);
  text-wrap: nowrap;
}

.experienceTitle {
  display: flex;
  align-items: center;
  margin-left: 8vw;
  color: aqua;
}

.experienceIcon {
  margin-right: 20px;
}

.experienceContainer {
  margin-top: 2vh;
}
